@model List<Nettbank___Webapplikasjoner.Models.Transaction>

<!DOCTYPE html>

@{
    ViewBag.Title = "Betalingsoversikt";
}
<html>
<head>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
                // lag en hendelse som utføres når en a-href med "data-SletteModal = true" trykkes.
                $('a[data-deleteModal=true]').click(function() {

                        // hent inn data-taggene fra denne a-hef lenken
                        var data_navn = $(this).data('navn');
                        var data_id = $(this).data('id');

                        // legg ut dataene i div'en i modal-view'et
                        $('#deleteTransaction').html(data_navn);

                        $("#deleteModalButton").click(function () {
                            // id som skal slettes ligger i data_id
                            $.ajax({
                                url: '@Url.Action("Delete", "Transaction")',
                                data: { id: data_id },  // en parameter inn i slett(id)-metoden i kunde-kontrolleren (JSON-objekt)
                                success: function () {
                                    // må kalle liste-metoden for å vise den nye listen av kunder
                                    $.ajax({
                                        url: '@Url.Action("ListTransactions", "Transaction")',
                                        success: function () {
                                            // så må siden reloades!
                                            window.location.reload();
                                        }
                                    });
                                }
                            });
                        })
                    })
            });
    </script>
</head>
<body>
    <h2>Betalingsoversikt</h2>


    @foreach (var transaction in Model)
    {
        @Html.Partial("ListPartial", transaction)
    }
    @Html.Partial("deleteModal")

</body>
</html>