@model Model.CustomerInfo

@{
    ViewBag.Title = "ChangePassword";
}

<h2>ChangePassword</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal"  action="/Customer/ChangePassword" method="post">
        <div class="form-group">
            <input type="text" class="form-control my-login-input" id="inputOldPassword" placeholder="Personnummer" name="personalnumber" value="@Model.PersonalNumber">
        </div>
        <div class="form-group">
            <input type="password" class="form-control my-login-input" id="inputOldPassword" placeholder="Eksisterende passord" name="oldPassword">
        </div>
        
        <div class="form-group">
            <input type="password" class="form-control my-login-input" id="inputNewPassword" placeholder="Nytt passord" name="newPassword">
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "ListAccounts")
</div>
