@{
    ViewBag.Title = "Admin";
}

<script>
    window.onload = function() {
        reloadAccounts();
    }

    function reloadAccounts() {
        $("#list-partial").load("/Admin/ListAccountsPartial", {personalNumber: $("#customer-dropdown").val()});
    }
</script>

<div class="row">
    <div class="col-sm-7">
        <h1>Admin: Kontoer</h1>
        <p class="text-danger" id="message"></p>
    </div>
    <div class="col-sm-5">
        <select class="form-control" id="customer-dropdown" onchange="reloadAccounts()">
            @foreach (SelectListItem customer in @ViewBag.CustomerList) {
                <option value=@customer.Value selected=@customer.Selected>@customer.Text</option>
            }
        </select>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div id="list-partial"></div>
    </div>
</div>

@Html.Partial("DeleteAccountModal")