@{
    ViewBag.Title = "Admin";
}

<div class="panel panel-default">
    <div class="panel-body">
        <div align="center">
            <h2>Logg inn som administrator</h2>
            <form class="form-horizontal" style="" action="/Admin/ValidateAdmin" method="post">

                <div class="form-group">
                    <input type="text" class="form-control my-login-input" id="inputPersonnumber" placeholder="Ansattnummer" name="EmployeeNumber">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control my-login-input" id="inputPassword" placeholder="Passord" name="Password">
                </div>
                <div class="form-group">
                    <input class="btn btn-lg btn-primary btn-block my-login-input" type="submit" value="Logg inn!" />
                </div>
                @if (TempData["failure"] != null) {
                    <div class="bg-danger">
                        <p>Error: @TempData["failure"].ToString()</p>
                    </div>
                }
            </form>
        </div>
    </div>
</div>